<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Collaboration Graph</title>
    <script src="https://unpkg.com/vis-network@9.1.0/dist/vis-network.min.js"></script>
    <style>
        #graphContainer {
            width: 800px;
            height: 600px;
            border: 1px solid lightgray;
        }

        .autocomplete-suggestions {
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            position: absolute;
            max-height: 150px;
            overflow-y: auto;
            background-color: white;
        }

        .autocomplete-suggestion {
            padding: 10px;
            cursor: pointer;
        }

        .autocomplete-suggestion:hover {
            background-color: #e9e9e9;
        }
    </style>
</head>
<body>
    <h1>Search Artist Collaboration Path</h1>
    <form id="searchForm">
        <label for="artist1">Artist 1:</label>
        <input type="text" id="artist1" name="artist1" required autocomplete="off">
        <div id="artist1Suggestions" class="autocomplete-suggestions"></div>

        <label for="artist2">Artist 2:</label>
        <input type="text" id="artist2" name="artist2" required autocomplete="off">
        <div id="artist2Suggestions" class="autocomplete-suggestions"></div>

        <button type="submit">Search</button>
    </form>

    <div id="graphContainer"></div>

    <script>
        // Функция для запроса артистов на сервер
        async function searchArtist(artistInputId, suggestionsContainerId) {
            const artist = document.getElementById(artistInputId).value;
            const suggestionsContainer = document.getElementById(suggestionsContainerId);

            if (artist.length < 2) {
                suggestionsContainer.innerHTML = "";
                return;
            }

            try {
                const response = await fetch(`/search_artist?artist=${encodeURIComponent(artist)}`);
                const artists = await response.json();

                // Очищаем контейнер с предложениями
                suggestionsContainer.innerHTML = "";

                // Добавляем артистов в выпадающий список
                artists.forEach(artistName => {
                    const div = document.createElement("div");
                    div.classList.add("autocomplete-suggestion");
                    div.innerText = artistName;
                    div.addEventListener("click", function () {
                        document.getElementById(artistInputId).value = artistName;
                        suggestionsContainer.innerHTML = ""; // Очистка списка предложений после выбора артиста
                    });
                    suggestionsContainer.appendChild(div);
                });
            } catch (error) {
                console.error("Error fetching artist suggestions:", error);
            }
        }

        // Добавляем обработчики на поля ввода для "живого" поиска
        document.getElementById("artist1").addEventListener("input", function () {
            searchArtist("artist1", "artist1Suggestions");
        });

        document.getElementById("artist2").addEventListener("input", function () {
            searchArtist("artist2", "artist2Suggestions");
        });

        // Обработка отправки формы
        document
            .getElementById("searchForm")
            .addEventListener("submit", async function (event) {
                event.preventDefault();

                // Получаем значения артистов из формы
                const artist1 = document.getElementById("artist1").value;
                const artist2 = document.getElementById("artist2").value;

                // Отправляем запрос к API
                try {
                    const response = await fetch(
                        `/search_path/?artist_1=${encodeURIComponent(artist1)}&artist_2=${encodeURIComponent(artist2)}`
                    );
                    const data = await response.json();
                    alert(data["path"]);
                    // Передаем данные в функцию для построения графа
                    drawGraph(data["graph"]);
                } catch (error) {
                    console.error("Error fetching graph data:", error);
                }
            });

        function drawGraph(graphData) {
            // Очищаем контейнер перед созданием нового графа
            const container = document.getElementById("graphContainer");
            container.innerHTML = "";

            // Используем библиотеку vis.js для отображения графа
            const nodes = new vis.DataSet(graphData.nodes.map(node => ({
                id: node.id,
                label: node.id
            })));
            const edges = new vis.DataSet(graphData.links.map(link => ({
                from: link.source,
                to: link.target
            })));

            const data = {
                nodes: nodes,
                edges: edges,
            };

            const options = {
                interaction: {
                    zoomView: true,
                    dragView: true,
                },
                edges: {
                    smooth: true,
                },
                nodes: {
                    shape: "circle",
                    size: 20,
                    font: {
                        size: 16,
                    },
                },
            };

            const network = new vis.Network(container, data, options);
        }
    </script>
</body>
</html>
